<div class="mt-6 md:mt-12">
  <h2 class="w-11/12 max-w-3xl text-center mt-2 sm:mt-8 p-2 bg-app text-white mx-auto text-xl md:text-2xl">飲み放題プラン早見表</h2>
  <table class="border-collapse table-fixed w-11/12 whitespace-no-wrap bg-white mx-auto max-w-3xl" id="table_index">
    <thead>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <th class="alcohol_head w-1/4"></th>
        <th class="alcohol_head w-1/4 bg-indigo-100">デラックス</th>
        <th class="alcohol_head w-1/4 bg-red-100">バラエティ</th>
        <th class="alcohol_head w-1/4 bg-green-100">ライト</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">1.5時間</td>
        <td class="alcohol_body bg-indigo-100">1,500円</td>
        <td class="alcohol_body bg-red-100">1,350円</td>
        <td class="alcohol_body bg-green-100">1,200円</td>
      </tr>
    </tbody>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">2時間</td>
        <td class="alcohol_body bg-indigo-100">1,900円</td>
        <td class="alcohol_body bg-red-100">1,700円</td>
        <td class="alcohol_body bg-green-100">1,500円</td>
      </tr>
    </tbody>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">2.5時間以上</td>
        <td class="alcohol_body bg-indigo-100">2,100円</td>
        <td class="alcohol_body bg-red-100">1,900円</td>
        <td class="alcohol_body bg-green-100">1,700円</td>
      </tr>
    </tbody>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">サワー</td>
        <td class="alcohol_body bg-indigo-100">20種類</td>
        <td class="alcohol_body bg-red-100">20種類</td>
        <td class="alcohol_body bg-green-100">5種類</td>
      </tr>
    </tbody>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">カクテル</td>
        <td class="alcohol_body bg-indigo-100">25種類</td>
        <td class="alcohol_body bg-red-100">25種類</td>
        <td class="alcohol_body bg-green-100">4種類</td>
      </tr>
    </tbody>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">ハイボール</td>
        <td class="alcohol_body bg-indigo-100">6種類</td>
        <td class="alcohol_body bg-red-100">3種類</td>
        <td class="alcohol_body bg-green-100">3種類</td>
      </tr>
    </tbody>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">生ビール</td>
        <td class="alcohol_body bg-indigo-100">◯</td>
        <td class="alcohol_body bg-red-100">◯</td>
        <td class="alcohol_body bg-green-100">×</td>
      </tr>
    </tbody>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">ワイン<span class="text-xxs sm:text-sm">(赤・白)</span></td>
        <td class="alcohol_body bg-indigo-100">◯</td>
        <td class="alcohol_body bg-red-100">◯</td>
        <td class="alcohol_body bg-green-100">◯</td>
      </tr>
    </tbody>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">焼酎<span class="text-xxs sm:text-sm">(芋・麦)</span></td>
        <td class="alcohol_body bg-indigo-100">◯</td>
        <td class="alcohol_body bg-red-100">◯</td>
        <td class="alcohol_body bg-green-100">◯</td>
      </tr>
    </tbody>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">日本酒<br class="sm:hidden">
          <span class="text-xxs sm:text-sm">(冷酒・燗)</span></td>
        <td class="alcohol_body bg-indigo-100">◯</td>
        <td class="alcohol_body bg-red-100">×</td>
        <td class="alcohol_body bg-green-100">×</td>
      </tr>
    </tbody>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">レッドブル</td>
        <td class="alcohol_body bg-indigo-100">◯</td>
        <td class="alcohol_body bg-red-100">×</td>
        <td class="alcohol_body bg-green-100">×</td>
      </tr>
    </tbody>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">ジーマ/<br class="sm:hidden">
          コロナ</td>
        <td class="alcohol_body bg-indigo-100">◯</td>
        <td class="alcohol_body bg-red-100">×</td>
        <td class="alcohol_body bg-green-100">×</td>
      </tr>
    </tbody>
    <tbody>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="alcohol_body">フロート</td>
        <td class="alcohol_body bg-indigo-100">◯</td>
        <td class="alcohol_body bg-red-100">×</td>
        <td class="alcohol_body bg-green-100">×</td>
      </tr>
    </tbody>
  </table>
  <p class="text-sm md:text-base text-center mt-3">※ルーム料金に上記料金が加算されます</p>
</div>
