<div class="pb-20">
  <div class="mx-4 py-5 mt-4 sm:mt-0" id="coupon_condition">
    <p class="text-center mb-4">
      クーポンをご利用いただくには
      <br>
      <span class="text-app text-xl">「ユーザー登録」</span>が必要です
    </p>
    <div class="w-3/5 max-w-xl bg-app hover:bg-yellow-600 mx-auto py-2 rounded-lg flex justify-center items-center sm:mb-6">
      <%= link_to "ユーザー登録はこちら", new_user_registration_path, class: " text-white text-center", id: "registration_btn" %>
    </div>
  </div>
  <div class="">
    <div class="w-full mx-auto p-4 sm:p-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4" id="tutorial_wrapper">
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">1</p>
        <p class="text-base text-center mt-5 mb-5">このページの<span class="text-app font-black">「ユーザー登録はこちら」</span><br>
          もしくは「MENU」から登録できます。</p>
        <div class="flex">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide4.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-5xl"></i></div>
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-5xl"></i></div>
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">2</p>
        <p class="text-base text-center mt-5">必要事項を入力して</p>
        <p class="text-base text-center mb-5"><span class="text-app font-black">「ユーザー登録」</span>を押します</p>
        <div class="flex mt-10">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide5.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-5xl"></i></div>
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-5xl"></i></div>
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">3</p>
        <p class="text-base text-center mt-5 mb-5"><span class="text-app font-black">「クーポン」</span>から<br>
          <span class="text-red-500 font-black">限定クーポンをGET!!</span></p>
        <div class="mx-auto mt-6 sm:mt-12" id="tutorial_img_box_coupon">
          <img src="/assets/coupon.png" alt="" id="tutorial_img_bottom">
        </div>
      </div>
    </div>
  </div>
</div>
