<% content_for :title do %>
    料金表
<% end %>
<% content_for :header do %>
  <div class="fixed w-full top-0 left-0 z-10">
    <%= render "layouts/header_user" %>    
  </div>
<% end %>
<% content_for :footer do %>
  <%= render "layouts/footer_user" %>
<% end %>

<div id="margin_wrapper"></div>
<% breadcrumb :alcohol %>
<%= breadcrumbs separator: " &rsaquo; " %> 

<p class="my-3 text-center">店舗を選んでください</p>
<div class="flex items-center">
  <select name="example" class="mx-auto" id="fee_table_select">
    <option value="ikuta">三宮生田ロード本店</option>
    <option value="ekimae">三宮駅前店</option>
  </select>
</div>

<%= render partial: 'shop', collection: @shops %>