<div class="md:h-screen md:flex md:justify-center lg:justify-end md:items-center md:bg-top-image md:bg-cover md:bg-no-repeat md:bg-center" id="fee_info_wrap">
  <div class="md:hidden bg-top-image bg-cover bg-no-repeat bg-center h-32" id="fee_info_wrap">
  </div>
  <div class="px-3 py-6 md:px-0 md:py-0 lg:mx-6 bg-white md:bg-opacity-80 rounded-2xl md:w-3/5 lg:w-1/2 ">
    <%= render "form_fee_info" %>
  </div>
</div>
