<%= form_with model: @fee_info, local: true do |f| %>
  <div>
    <p>STEP1</p>
    <p>会員登録はされていますか？</p>
  </div>
  <div>

  </div>
  <div>
    <p>STEP1</p>
    <p>会員登録はされていますか？</p>
  </div>

<% end %>