<% if @main_plan.errors.any? %>
  <div>
    <ul>
      <% @main_plan.errors.full_messages.each do |msg| %>
        <li><span style="color: red;"><%= msg %></span></li>
      <% end %>
    </ul>
  </div>
<% end %>
