<div id="main_plan_header_box">
  <div id="logo">
    <img src="/assets/twitter_header_photo_1.png" alt="">
  </div>
  <div id="main_plan_header_nav">
    <ul id="main_plan_nav_list">
      <li id="main_plan_nav_item"><a href="">       
        <p><i class="fas fa-home"></i>ホーム</p>
      </a>
      </li>
      <li id="main_plan_nav_item">
        <a href="/main_plans/">
          <p><i class="fas fa-list-alt"></i></i> 料金一覧</p>
        </a>
      </li>
      <li id="main_plan_nav_item">
        <a href="/main_plans/new">         
          <p><i class="fas fa-folder-plus"></i>新規登録</p>
        </a>
      </li>
    </ul>
  </div>
</div>