@import 'tailwindcss/base';
@import 'tailwindcss/components';

.btn_search {
  @apply bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded;
}
.btn_edit {
  @apply bg-green-500 hover:bg-green-700 text-white py-1 px-3 rounded;
}
.btn_delete {
  @apply bg-red-500 hover:bg-red-700 text-white py-1 px-3 rounded;
}

.btn_fee_info {
  @apply hover:bg-white hover:border-yellow-500 hover:text-yellow-500
  bg-yellow-500 text-white border-2 border-yellow-500 mt-6 mb-3 px-2 py-2 rounded-xl w-52 text-base font-black sm:mt-3 shadow transition duration-300 ease-in;
}

.btn_form_create {
  @apply bg-blue-500 hover:bg-blue-700 text-white py-1 rounded w-full;
}

.btn_link_new {
  @apply bg-blue-500 hover:bg-blue-700 text-white text-sm mx-4 px-2 py-2 rounded-lg;
}

.index_table_head {
  @apply border border-gray-400 px-2 py-3 text-white text-xs lg:text-sm font-bold;
}

.index_table_body {
  @apply border border-gray-400 px-2 py-1 text-center text-xs lg:text-sm;
}

.show_div_table_head {
  @apply border border-gray-400 px-1 py-1 text-white text-sm font-bold w-1/4;
}

.show_div_table_body {
  @apply border border-gray-200 px-1 py-1 text-center text-sm;
}

.show_fee_table_head {
  @apply border border-gray-400 px-1 py-2 text-white text-sm font-bold w-1/4;
}

.show_fee_table_body {
  @apply border border-gray-200 px-1 py-2 text-center text-sm;
}

.fee_info_table_head {
  @apply w-12 border-2 border-yellow-500 px-2 py-3 text-xxs sm:text-xs font-black;
}

.fee_info_table_body {
  @apply border-2 border-yellow-500 px-1 py-2 text-center text-xxs sm:text-sm;
}

@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
  user-select: none;
  font-family: 'Noto Sans JP', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'Hiragino Kaku Gothic ProN',
    'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Arial, Helvetica, Verdana, sans-serif;
  font-weight: 500;
  color: rgb(75, 75, 75);
}

p {
  word-break: break-all;
}

.page_title {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  margin-top: 100px;
}

// アプリヘッダー
#header_box {
  background: rgb(237, 237, 237);
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  #logo {
    width: 200px;
    height: 70px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  #header_nav {
    width: calc(100% - 200px);
    max-width: 600px;
    height: 70px;
    #nav_list {
      height: 100%;
      padding: 0 30px 0 30px;
      display: flex;
      justify-content: space-between;
      #nav_item,
      #nav_item_dl {
        display: flex;
        align-items: center;
        p {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 0;
          line-height: 50px;
        }
      }
      i {
        font-size: 20px;
        color: rgb(255, 85, 0);
      }
    }
  }
}

// 各プランヘッダー
#plan_header_box {
  background: rgb(237, 237, 237);
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  #logo {
    width: 200px;
    height: 70px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  #plan_header_nav {
    width: calc(100% - 200px);
    max-width: 1000px;
    height: 70px;
    #plan_nav_list {
      width: 100%;
      height: 100%;
      padding: 0 10px 0 10px;
      display: flex;
      justify-content: space-between;
      #plan_nav_item {
        display: flex;
        align-items: center;
        a {
          display: flex;
          height: 40px;
          text-decoration: none;
          p {
            display: flex;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 0;
            align-items: center;
            line-height: 40px;
            i {
              font-size: 16px;
              color: rgb(255, 85, 0);
              margin-right: 5px;
            }
            #drop_down_i {
              margin-left: 5px;
            }
          }
        }
        a:hover {
          border-bottom: rgb(255, 85, 0) 4px solid;
          margin-bottom: -4px;
        }
      }
    }
  }
}

// 各プランフッター
#footer_plans_box {
  display: flex;
  height: 80px;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  .btn_link_new {
    width: 160px;
  }
}

// メインプラン一覧表示
#m_search_box {
  align-content: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  font-size: 14px;
  .main_plan_search {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    label {
      margin-left: 15px;
      margin-right: 5px;
      margin-bottom: 0;
    }
    .first_label {
      margin-left: 0;
    }
    input,
    select {
      border: gray 1px solid;
      border-radius: 5px;
    }
  }
  #index_search_btn {
    margin-left: 20px;
  }
}

#table_index {
  #table_heading {
    th:before {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      width: 100%;
      height: 100%;
      border: 1px solid #ccc;
    }
  }
}

// メインプラン詳細
#show_wrapper {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  #plan_title {
    display: inline-block;
    font-size: 15px;
  }
  #m_plan_div_table {
    margin-top: 20px;
    width: 50%;
  }
  #d_plan_div_table {
    margin-top: 20px;
    width: 20%;
  }
  #plan_fee_table {
    margin-top: 20px;
  }
  #link_btn {
    margin-top: 20px;
    .btn_edit {
      margin-right: 10px;
    }
  }
}

#plan_note {
  margin-top: 20px;
  #note_title {
    font-size: 16px;
  }
  p {
    width: calc(100% - 32px);
    height: 100px;
    font-size: 12px;
    padding: 15px;
    border: gray 1px solid;
    border-radius: 15px;
    white-space: normal;
    word-wrap: break-word;
    overflow: scroll;
  }
}

// 登録フォーム
#form_wrap {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  #l_name,
  #l_note {
    margin-bottom: 20px;
    i {
      font-size: 14px;
      margin-top: 9px;
      vertical-align: top;
    }
    label {
      margin-top: 5px;
      margin-right: 10px;
      display: inline-block;
      width: 80px;
      text-align: justify;
      text-align-last: justify;
      vertical-align: top;
      font-size: 14px;
    }
    input {
      width: calc(100% - 120px);
      padding: 5px;
      border: gray 1px solid;
      border-radius: 5px;
      font-size: 12px;
    }
  }
  #l_div,
  #l_fee {
    display: flex;
    flex-wrap: wrap;
    .form_box {
      margin-right: 40px;
      margin-bottom: 20px;
      label {
        font-size: 14px;
        margin-right: 10px;
        display: inline-block;
        width: 80px;
        text-align: justify;
        text-align-last: justify;
      }
      select,
      input {
        padding: 5px 10px 5px 10px;
        border: gray 1px solid;
        border-radius: 5px;
        width: 100px;
        font-size: 12px;
      }
      select {
        padding-left: 5px;
      }
      input {
        width: 95px;
      }
    }
  }

  #l_note {
    display: block;
    div {
      textarea {
        margin-top: 5px;
        width: calc(100% - 18px);
        min-height: 100px;
        padding: 8px;
        font-size: 10px;
        border: gray 1px solid;
        border-radius: 5px;
        white-space: normal;
      }
    }
  }
}

// ドリンクプラン一覧表示
#d_search_box {
  align-content: center;
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  font-size: 14px;
  .drink_plan_search {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    label {
      margin-left: 15px;
      margin-right: 5px;
      margin-bottom: 0;
    }
    .first_label {
      margin-left: 0;
    }
    input,
    select {
      border: gray 1px solid;
      border-radius: 5px;
    }
  }
  #index_search_btn {
    margin-left: 20px;
  }
}

// 料金案内フォーム
#fee_info_wrap {
  #fee_info_img {
    background-image: url(/assets/room_title.jpg);
    background-position: 61% 70%;
  }
  #fee_info_input {
    label {
      width: 40px;
      display: inline-block;
      text-align: justify;
      text-align-last: justify;
    }
    #num_customers {
      padding-left: 10px;
      padding-bottom: 2px;
      width: 35px;
      height: 18px;
      border: gray 1px solid;
      border-radius: 8px;
    }
  }
  #fee_info_select {
    select {
      font-size: 12px;
      width: 150px;
      height: 30px;
      padding-left: 5px;
      padding-bottom: 2px;
      border: gray 1px solid;
      border-radius: 8px;
    }
  }
}
