@import 'tailwindcss/base';
@import 'tailwindcss/components';

.btn_search {
  @apply bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded;
}
.btn_edit {
  @apply bg-green-500 hover:bg-green-700 text-white py-1 px-3 rounded;
}
.btn_delete {
  @apply bg-red-500 hover:bg-red-700 text-white py-1 px-3 rounded;
}
.btn_home {
  @apply bg-app hover:bg-yellow-700 text-white py-1 px-5 rounded;
}

.btn_fee_guide {
  @apply hover:bg-white hover:border-app-light hover:text-app-light
  bg-app-light text-white border-2 border-app-light mt-6 mb-3 px-2 py-2 rounded-xl w-52 text-base font-black sm:mt-3 shadow transition duration-300 ease-in;
}

.btn_form_create {
  @apply bg-blue-500 hover:bg-blue-700 text-white py-1 rounded w-full;
}

.btn_link_new {
  @apply bg-blue-500 hover:bg-blue-700 text-white text-sm mx-4 px-2 py-2 rounded-lg;
}

.index_table_head {
  @apply border border-gray-400 px-2 py-3 text-white text-xs lg:text-sm font-bold;
}

.index_table_body {
  @apply border border-gray-400 px-2 py-1 text-center text-xs lg:text-sm;
}

.show_div_table_head {
  @apply border border-gray-400 px-1 py-1 text-white text-sm font-bold w-1/4;
}

.show_div_table_body {
  @apply border border-gray-200 px-1 py-1 text-center text-sm;
}

.show_fee_table_head {
  @apply border border-gray-400 px-1 py-2 text-white text-sm font-bold w-1/4;
}

.show_fee_table_body {
  @apply border border-gray-200 px-1 py-2 text-center text-sm;
}

.fee_guide_table_head {
  @apply w-12 border-2 border-app px-2 py-3 text-xxs sm:text-xs font-black;
}

.fee_guide_table_body {
  @apply border-2 border-app px-1 py-2 text-center text-xxs sm:text-sm;
}

.nav_btn_edit {
  @apply border-2 border-green-500 bg-white hover:bg-green-500 text-green-500 hover:text-white py-1 px-3 rounded-full shadow font-bold;
}
.nav_btn_sign_out {
  @apply border-2 border-red-500 bg-white hover:bg-red-500 text-red-500 hover:text-white py-1 px-3 rounded-full shadow font-bold;
}
.nav_btn_home {
  @apply border-2 border-app bg-white hover:bg-app text-app hover:text-white py-1 px-3 rounded-full shadow font-bold;
}

@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

// ========================
//         初期設定
// ========================

// ブレイクポイント
$breakpoint-down: (
  'xls': 'screen and (max-width: 377px)',
  'xxs': 'screen and (max-width: 484px)',
  'xs': 'screen and (max-width: 586px)',
  'sm': 'screen and (max-width: 640px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 964px)',
  'xl': 'screen and (max-width: 1280px)',
  'xxl': 'screen and (max-width: 1331px)',
) !default;

@mixin mq-down($breakpoint: sm) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
  user-select: none;
  font-family: 'Noto Sans JP', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'Hiragino Kaku Gothic ProN',
    'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Arial, Helvetica, Verdana, sans-serif;
  font-weight: 500;
  color: rgb(75, 75, 75);
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#main_wrapper {
  height: calc(100% - 90px);
}

#main_contents {
  width: calc(100% - 200px);
  @include mq-down(md) {
    width: 100%;
  }
}

// 管理者画面サイドメニュー
#side_menu_wrapper {
  width: 200px;
  height: 100%;
}

p {
  word-break: break-all;
}

.page_title {
  font-size: 24px;
  font-weight: 800;
  margin-top: 20px;
  text-align: center;
}

// アプリヘッダー
#header_box {
  background: rgb(237, 237, 237);
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  #logo {
    width: 200px;
    height: 70px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  #header_nav {
    width: calc(100% - 200px);
    max-width: 600px;
    height: 70px;
    #nav_list {
      height: 100%;
      padding: 0 30px 0 30px;
      display: flex;
      justify-content: space-between;
      #nav_item,
      #nav_item_dl {
        display: flex;
        align-items: center;
        p {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 0;
          line-height: 50px;
        }
      }
      i {
        font-size: 20px;
        color: rgb(255, 85, 0);
      }
    }
  }
}

// 各プランヘッダー
#gnav {
  height: 90px;
  background: rgb(237, 237, 237);
  #logo_md {
    width: 200px;
    height: 70px;
  }
  #nav_main {
    width: calc(100% - 200px);
    height: 100%;
    @include mq-down(md) {
      width: calc(100% - 74px);
    }
    #logo_sm {
      width: 100px;
      height: 35px;
    }
    #account {
      height: 40px;
    }
    #nav_btn_box {
      @include mq-down(md) {
        height: 39px;
      }
    }
    #gnav_contents {
      height: 50px;
      z-index: 1;
      #dd_box {
        position: relative;
        z-index: 2;
        height: 50px;
        #dd_menu,
        #dd_menu1,
        #dd_menu2,
        #dd_menu3 {
          height: 48px;
          line-height: 50px;
          #dd_list {
            display: none;
          }
          #dd_list.is-active {
            display: block;
          }
        }
      }
      @include mq-down(md) {
        position: fixed;
        top: 90px;
        left: -1000px;
        width: 100vw;
        height: 100vh;
        background: black;
        opacity: 80%;
        #dd_box {
          width: 100%;
          height: auto;
        }
        #dd_menu,
        #dd_menu1,
        #dd_menu2,
        #dd_menu3 {
          width: 100%;
          height: 30px;
        }
      }
    }

    #gnav_contents.active {
      left: 0;
    }
  }
}

#open_btn {
  position: relative; /*ボタン内側の基点となるためrelativeを指定*/
  background: rgb(255, 85, 0);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

/*ボタン内側*/
#open_btn span {
  display: inline-block;
  transition: all 0.4s; /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 2px;
  border-radius: 5px;
  background: #fff;
  width: 45%;
}

#open_btn span:nth-of-type(1) {
  top: 13px;
}

#open_btn span:nth-of-type(2) {
  top: 19px;
}

#open_btn span:nth-of-type(3) {
  top: 25px;
}

#open_btn span:nth-of-type(3)::after {
  content: 'Menu'; /*3つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  top: 5px;
  left: -2px;
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
#open_btn.active span:nth-of-type(1) {
  top: 14px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

#open_btn.active span:nth-of-type(2) {
  opacity: 0;
}

#open_btn.active span:nth-of-type(3) {
  top: 26px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

#open_btn.active span:nth-of-type(3)::after {
  content: 'Close'; /*3つ目の要素のafterにClose表示を指定*/
  transform: translateY(0) rotate(-45deg);
  top: 5px;
  left: 4px;
}

// 各プランフッター
#footer_plans_box {
  display: flex;
  height: 80px;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  .btn_link_new {
    width: 160px;
  }
}

// メインプラン一覧表示
#m_search_box {
  align-content: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  font-size: 14px;
  .main_plan_search {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    label {
      margin-left: 15px;
      margin-right: 5px;
      margin-bottom: 0;
    }
    .first_label {
      margin-left: 0;
    }
    input,
    select {
      border: gray 1px solid;
      border-radius: 5px;
      background: white;
      cursor: pointer;
    }
  }
  #index_search_btn {
    margin-left: 20px;
    .btn_search {
      background: #007bff;
      cursor: pointer;
    }
    :hover.btn_search {
      background: white;
      color: #007bff;
      border: #007bff 1px solid;
    }
  }
}

#table_index {
  #table_heading {
    th:before {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      width: 100%;
      height: 100%;
      border: 1px solid #ccc;
    }
  }
}

// メインプラン詳細
#show_wrapper {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  #plan_title {
    display: inline-block;
    font-size: 15px;
  }
  #m_plan_div_table {
    margin-top: 20px;
    width: 50%;
  }
  #d_plan_div_table {
    margin-top: 20px;
    width: 20%;
  }
  #plan_fee_table {
    margin-top: 20px;
  }
  #link_btn {
    margin-top: 20px;
    .btn_edit {
      margin-right: 10px;
    }
  }
}

#plan_note {
  margin-top: 20px;
  #note_title {
    font-size: 16px;
  }
  p {
    width: calc(100% - 32px);
    height: 100px;
    font-size: 12px;
    padding: 15px;
    border: gray 1px solid;
    border-radius: 15px;
    white-space: normal;
    word-wrap: break-word;
    overflow: scroll;
  }
}

// 登録フォーム
#form_wrap {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  #l_name,
  #l_note {
    margin-bottom: 20px;
    i {
      font-size: 14px;
      margin-top: 9px;
      vertical-align: top;
    }
    label {
      margin-top: 5px;
      margin-right: 10px;
      display: inline-block;
      width: 80px;
      text-align: justify;
      text-align-last: justify;
      vertical-align: top;
      font-size: 14px;
    }
    input {
      width: calc(100% - 120px);
      padding: 5px;
      border: gray 1px solid;
      border-radius: 5px;
      font-size: 12px;
      background: white;
    }
  }
  #l_div,
  #l_fee {
    display: flex;
    flex-wrap: wrap;
    .form_box {
      margin-right: 40px;
      margin-bottom: 20px;
      label {
        font-size: 14px;
        margin-right: 10px;
        display: inline-block;
        width: 80px;
        text-align: justify;
        text-align-last: justify;
      }
      select,
      input {
        padding: 5px 10px 5px 10px;
        border: gray 1px solid;
        border-radius: 5px;
        width: 100px;
        font-size: 12px;
        background: white;
      }
      select {
        padding-left: 5px;
      }
      input {
        width: 95px;
      }
    }
  }

  #l_note {
    display: block;
    div {
      textarea {
        margin-top: 5px;
        width: calc(100% - 18px);
        min-height: 100px;
        padding: 8px;
        font-size: 10px;
        border: gray 1px solid;
        border-radius: 5px;
        white-space: normal;
      }
    }
  }
}

// ドリンクプラン一覧表示
#d_search_box {
  align-content: center;
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  font-size: 14px;
  .drink_plan_search {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    label {
      margin-left: 15px;
      margin-right: 5px;
      margin-bottom: 0;
    }
    .first_label {
      margin-left: 0;
    }
    input,
    select {
      border: gray 1px solid;
      border-radius: 5px;
      background: white;
      font-size: 10px;
      padding: 4px;
    }
  }
  #index_search_btn {
    margin-left: 20px;
    .btn_search {
      font-size: 12px;
      padding: 4px 10px;
      background: #007bff;
      cursor: pointer;
    }
    :hover.btn_search {
      background: white;
      color: #007bff;
      border: #007bff 1px solid;
    }
  }
}

// 料金案内フォーム
#fee_guide_wrap {
  #fee_guide_img {
    background-image: url(/assets/room_title.jpg);
    background-position: 61% 70%;
  }
  #fee_guide_input {
    label {
      width: 40px;
      display: inline-block;
      text-align: justify;
      text-align-last: justify;
    }
    #num_customers {
      padding-left: 10px;
      padding-bottom: 2px;
      width: 35px;
      height: 18px;
      border: gray 1px solid;
      border-radius: 8px;
    }
  }
  #fee_guide_select {
    select {
      font-size: 12px;
      width: 150px;
      height: 30px;
      padding-left: 5px;
      padding-bottom: 2px;
      background: white;
      border: gray 1px solid;
      border-radius: 8px;
    }
  }
}

#img_field {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq-down(sm) {
    width: 240px;
    height: 160px;
  }
  img {
    width: auto;
    height: auto;
    max-width: 98%;
    max-height: 98%;
    object-fit: cover;
    border-radius: 5px;
    border: 3px gold solid;
  }
}

#topics_wrapper {
  max-width: 1000px;
  @include mq-down(xl) {
    max-width: 700px;
  }
  @include mq-down(sm) {
    max-width: 400px;
  }
  #topics_card {
    height: 130px;
    padding: 10px;
    max-width: 300px;
    #card_top {
      width: 100%;
      height: 20px;
      #topics_date {
        width: 100px;
        line-height: 20px;
        div {
          width: 90px;
        }
      }
      #topics_title {
        width: 184px;
        line-height: 20px;
      }
    }
    #card_bottom {
      width: 100%;
      height: 100px;
      margin-top: 10px;
      #topics_thumbnail {
        width: 100px;
        height: 100px;
        #topics_img {
          width: 95px;
          height: auto;
        }
      }
      #topics_contents {
        width: 160px;
        height: 80px;
        padding: 10px 12px;
        p {
          width: 100%;
          height: 100%;
          line-height: 15px;
        }
      }
    }
  }
}
