<div class="pt-6 pb-24 sm:pb-6">
  <div class="flex justify-center sm:justify-start sm:px-4" id="tab_menu">
    <a class="tab_menu1 p-2 mr-2 current text-base lg:text-xl">アプリのご利用方法</a>
    <a class="tab_menu2 p-2 ml-2 text-base lg:text-xl">クーポンのご利用方法</a>
  </div>

  <div class="tab_item1">
    <div class="w-full mx-auto p-4 sm:p-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 border-t-2 border-app" id="tutorial_wrapper">
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">1</p>
        <p class="text-center mt-5 mb-5">PC/タブレットはTOP画面、<br>スマホは下の<span class="text-app font-black">「START」</span>から<br>料金案内を開始します</p>
        <div class="flex">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide1.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-5xl"></i></div> 
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-5xl"></i></div> 
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">2</p>
        <p class="text-center mt-5 mb-5">フォームの6ステップを入力して<br><span class="text-app font-black">「結果を表示」</span>を押します<br>選択していくだけで簡単!!</p>
        <div class="flex">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide2.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-5xl"></i></div> 
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-5xl"></i></div>       
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">3</p>
        <p class="text-center mt-5 mb-5">選択した店舗やプラン、<br>グループ全体の<br>ご利用料金が確認できます</p>
        <div class="flex mt-10">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide6.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-5xl"></i></div> 
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-5xl"></i></div>       
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="w-full sm:mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">4</p>
        <p class="text-center mt-5">1名様あたりの料金は<br>料金内訳をご確認ください</p>
        <div class="mx-auto sm:mt-6 flex justify-end" id="tutorial_img_box_detail">
          <img src="/assets/guide7.png" alt="" id="tutorial_img">
        </div>
      </div>
    </div>
  </div>
  <div class="tab_item2 hidden">
    <div class="w-full mx-auto p-4 sm:p-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 border-t-2 border-app" id="tutorial_wrapper">
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">1</p>
        <p class="text-center mt-5">クーポンのご利用には<br><span class="text-app font-black">「ユーザー登録」</span>が必要です</p>
        <p class="text-center mb-5">スマホの場合は<span class="text-app font-black">「MENU」</span>を押します</p>
        <div class="flex">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide3.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-5xl"></i></div>           
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-5xl"></i></div> 
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">2</p>
        <p class="text-center mt-5">PCはページ右上から、<br>スマホは下記ページの</p>
        <p class="text-center mb-5"><span class="text-app font-black">「ユーザー登録」</span>を押します</p>
        <div class="flex">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide4.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-5xl"></i></div>           
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-5xl"></i></div>       
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">3</p>
        <p class="text-center mt-5">必要事項を入力して</p>
        <p class="text-center mb-5"><span class="text-app font-black">「ユーザー登録」</span>を押します</p>
        <div class="flex mt-10">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide5.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-5xl"></i></div>          
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-5xl"></i></div>       
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">4</p>
        <p class="text-center mt-5 mb-5"><span class="text-app font-black">「クーポン」</span>から<br><span class="text-red-500 font-black">限定クーポンをGET!!</span></p>
        <div class="mx-auto sm:mt-12" id="tutorial_img_box">
          <img src="/assets/coupon.png" alt="" id="tutorial_img_bottom">
        </div>
        <p class="text-center mt-10 mb-2"><span class="font-black">「限定クーポン」は</span></p>
        <p class="text-center"><span class="text-red-500 font-black">いつでもどこでも利用可能!!</span>
        <br><span class="text-red-500 font-black">会員料金とも併用いただけます!!</span></p>
      </div>
    </div>
  </div>
</div>
