<div class="pt-6 pb-24 sm:pb-6">
  <div class="flex justify-center sm:justify-start px-4" id="tab_menu">
    <a class="tab_menu1 p-2 mr-2 current text-xs sm:text-base lg:text-xl">アプリのご利用方法</a>
    <a class="tab_menu2 p-2 ml-2 text-xs sm:text-base lg:text-xl">クーポンのご利用方法</a>
  </div>

  <div class="tab_item1">
    <div class="w-full mx-auto p-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 border-t-2 border-app" id="tutorial_wrapper">
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">1</p>
        <p class="text-sm text-center mt-5 sm:text-xs md:text-sm xl:text-base">PC/タブレットはTOP画面、<br class="hidden" id="xls_br">スマホは画面下の</p>
        <p class="text-sm text-center mb-5 sm:text-xs md:text-sm xl:text-base"><span class="text-app font-black">「START」</span>ボタンから<br class="hidden" id="xls_br">料金案内を開始します</p>
        <div class="flex">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide1.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-4xl"></i></div> 
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-4xl"></i></div> 
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">2</p>
        <p class="text-sm xl:text-base text-center mt-5">フォームの4ステップを入力して</p>
        <p class="text-sm xl:text-base text-center mb-5"><span class="text-app font-black">「RESULT」</span>ボタンを押します</p>
        <div class="flex">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide2.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-4xl"></i></div> 
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-4xl"></i></div>       
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">3</p>
        <p class="text-sm sm:text-xs md:text-sm xl:text-base text-center mt-5">グループ/1名様あたりの<br class="hidden" id="xls_br">料金が確認できます</p>
        <p class="text-sm sm:text-xs md:text-sm xl:text-base text-center mb-5"><span class="text-app font-black">「クーポン」</span>ボタンから<br class="hidden" id="xls_br"><span class="text-red-500 font-black">限定クーポンをGET!!</span></p>
        <div class="mx-auto" id="tutorial_img_box">
          <img src="/assets/coupon.png" alt="" id="tutorial_img">
          <img src="/assets/coupon.png" alt="" id="tutorial_img_bottom">
        </div>
      </div>
      <div class="hidden sm:block lg:hidden mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="text-2xl text-center mt-5 text-app">最新機種</p>
        <p class="text-2xl text-center mt-2 mb-5">「LIVE DAM Ai」導入!!</p>
        <div class="w-4/5 mx-auto">
          <img src="/assets/ai.jpg" alt="" class="rounded-xl">
        </div>
      </div>
    </div>
  </div>

  <div class="tab_item2 hidden">
    <div class="w-full mx-auto p-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 border-t-2 border-app" id="tutorial_wrapper">
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">1</p>
        <p class="text-sm text-center mt-5 sm:text-xs md:text-sm xl:text-base">クーポンのご利用は<br class="hidden" id="xls_br">ユーザー登録が必要です</p>
        <p class="text-sm text-center mb-5 sm:text-xs md:text-sm xl:text-base">スマホの場合は<br class="hidden" id="xls_br"><span class="text-app font-black">「MENU」</span>ボタンを押します</p>
        <div class="flex">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide3.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-4xl"></i></div>           
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-4xl"></i></div> 
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">2</p>
        <p class="text-sm xl:text-base text-center mt-5">PCはページ右上から、<br class="hidden" id="xls_br">スマホは下記ページの</p>
        <p class="text-sm xl:text-base text-center mb-5"><span class="text-app font-black">「ユーザー登録」</span>を押します</p>
        <div class="flex">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide4.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-4xl"></i></div>           
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-4xl"></i></div>       
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">3</p>
        <p class="text-sm xl:text-base text-center mt-5">必要事項を入力して</p>
        <p class="text-sm xl:text-base text-center mb-5"><span class="text-app font-black">「ユーザー登録」</span>ボタンを押します</p>
        <div class="flex">
          <div class="mx-auto flex justify-end" id="tutorial_img_box">
            <img src="/assets/guide5.png" alt="" id="tutorial_img">
          </div>
          <div class="w-2/5 my-auto text-center">
            <div class="flex sm:hidden justify-center"><i class="fas fa-caret-down text-4xl"></i></div>          
            <div class="hidden sm:flex justify-center"><i class="fas fa-caret-right text-4xl"></i></div>       
            <p class="text-xl">NEXT</p>
          </div>
        </div>
      </div>
      <div class="mx-auto px-2 py-4 border border-gray-300 shadow rounded-lg" id="tutorial_box">
        <p class="mx-auto px-1 text-3xl text-white bg-app text-center rounded-3xl" id="tutorial_num">4</p>
        <p class="text-sm sm:text-xs md:text-sm xl:text-base text-center mt-5 mb-5"><span class="text-app font-black">「クーポン」</span>ボタンから<br class="hidden" id="xls_br"><span class="text-red-500 font-black">限定クーポンをGET!!</span></p>
        <div class="mx-auto sm:mt-12" id="tutorial_img_box">
          <img src="/assets/coupon.png" alt="" id="tutorial_img_bottom">
        </div>
      </div>
    </div>
  </div>
</div>
