<h3>いつでも使えるクーポン</h3>
<div class="lg:flex">
  <div class="mx-auto my-auto p-2 lg:w-3/4" id="coupon">
    <div id="coupon_inner">
      <div id="coupon_left">
        <div style="line-height:1;">ご利用料金から</div>
        <div id="coupon_name">総額10%OFF</div>
        <div id="coupon_alert">受付時にご提示ください</div>
      </div>
      <div id="coupon_right">
        <div id="coupon_liit">有効期限</div>
        <div>2021年</div>
        <div id="coupon-day">11月30日</div>
      </div>
    </div>
  </div>
  <div class="mx-auto lg:w-1/4" id="coupon_content">
    <ul class="text-sm">
      <li><i class="far fa-check-circle text-app mr-1"></i>会員/学生/シルバー料金と併用可</li>
      <li><i class="far fa-check-circle text-app mr-1"></i>その他、割引クーポンと併用不可</li>
      <li><i class="far fa-check-circle text-app mr-1"></i>一部、フードクーポンと併用不可</li>
      <li><i class="far fa-check-circle text-app mr-1"></i>1枚でグループに適用されます</li>
    </ul>
  </div>
</div>