<div class="mx-auto" id="coupon_wrapper">
  <div id="coupon_body">
    <h2 class="text-center text-base sm:text-3xl sm:pt-12 mb-3" id="gift"><i class="fas fa-gift text-yellow-300"></i>「ikoKARA!」限定クーポン</h2>
    <div class="mx-auto my-auto p-2 lg:w-3/4" id="coupon">
      <div id="coupon_inner">
        <div id="coupon_left">
          <div class="text-sm sm:text-xl leading-none">ご利用料金から</div>
          <div class="text-xl sm:text-4xl sm:pb-2" id="coupon_name">総額10%OFF</div>
          <div class="mt-1 sm:mt-3 text-xs sm:text-base" id="coupon_alert">受付時にご提示ください</div>
        </div>
        <div id="coupon_right">
          <div class="text-xxs sm:text-xl mb-1" id="coupon_liit">【有効期限】</div>
          <div class="text-xs sm:text-base">2021年</div>
          <div class="sm:mb-2 text-xs sm:text-base" id="coupon-day">11月30日</div>
          <div><img src="/assets/logo.png" class="mx-auto" id="coupon_logo"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center items-center mx-auto pb-24 sm:pb-0" id="coupon_guide">
  <div class="w-11/12 mx-auto bg-gray-100 p-6">
    <p class="w-full text-center text-sm sm:text-2xl mb-3">【限定クーポンについて】</p>
    <p class="text-center text-sm sm:text-xl text-red-500 mb-1">いつでもどなたでも利用可能!</p>
    <p class="hidden sm:block text-center text-red-500 text-sm sm:text-xl mb-1">PCの方はこの画面の写真画像をご提示ください</p>
    <p class="sm:hidden text-center text-red-500 text-sm sm:text-xl mb-1">料金案内後に<i class="fas fa-ticket-alt text-gray-500"></i>クーポンで表示が便利です</p>
    <ul class="mt-5 text-sm">
      <li class="text-xs sm:text-base">※本券は１組様１回につき１枚のみ有効です。</li>
      <li class="text-xs sm:text-base">※本券は他のクーポンとの併用はできません。</li>
      <li class="text-xs sm:text-base">※有効期限なきものは無効です</li>
      <li class="text-xs sm:text-base">※店舗別割引・クーポンにつきましては、各店舗へご確認ください。</li>
    </ul>
  </div>
</div>
