<% flash.each do |flash_type, msg| %>
  <p class="w-full bg-app bg-opacity-30 md:pl-5 text-center md:text-left" id="flash_msg" style="color: <%= flash_type == 'notice' ? 'green' : 'red' %>;">
    <i class="far fa-check-circle text-app mr-1"></i><%= msg %>
  </p>
<% end %>
