<div class="bg-app_bg flex justify-end items-center md:hidden" id="footer_wrapper_shop">
  <div class="mx-2 shadow" id="open_btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
