<div class="text-center bg-gray-200 w-full" id="footer_plans_box">
  <%= link_to "ルーム料金登録", new_main_plan_path, class: "btn_link_new" %>
  <%= link_to "ドリンクコース登録", new_drink_plan_path, class: "btn_link_new" %>
</div>
