<div class="bg-gray-200" id="footer_nav">
  <ul class="flex">
    <li id="plan_nav_item" class="btn_footer_create">
        <a href="/main_plans/new">
          <p class="text-white"><i class="fas fa-folder-plus text-white"></i>ルーム料金を登録</p>
        </a>
      </li>
      <li id="plan_nav_item" class="btn_footer_create">
        <a href="/drink_plans/new">
          <p class="text-white"><i class="fas fa-folder-plus text-white"></i>ドリンクコースを登録</p>
        </a>
      </li>
  </ul>
</div>
