<div class="bg-app_bg flex justify-end items-center" id="footer_wrapper_shop">
  <div class="md:hidden mx-2 shadow" id="open_btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
