<div id="plan_header_box">
  <div id="logo">
    <img src="/assets/twitter_header_photo_1.png" alt="">
  </div>
  <div id="plan_header_nav">
    <ul id="plan_nav_list">
      <li id="plan_nav_item">
        <a href="/fee_infos/new">
          <p><i class="fas fa-home"></i>ホーム</p>
        </a>
      </li>
      <li id="plan_nav_item">
        <a href="/main_plans/">
          <p><i class="fas fa-list-alt"></i>ルーム料金一覧</p>
        </a>
      </li>
      <li id="plan_nav_item">
        <a href="/main_plans/new">
          <p><i class="fas fa-folder-plus"></i>ルーム料金登録</p>
        </a>
      </li>
      <li id="plan_nav_item">
        <a href="/drink_plans/">
          <p><i class="fas fa-list-alt"></i>ドリンクコース一覧</p>
        </a>
      </li>
      <li id="plan_nav_item">
        <a href="/drink_plans/new">
          <p><i class="fas fa-folder-plus"></i>ドリンクコース登録</p>
        </a>
      </li>
      <li id="plan_nav_item">
        <a href="/drink_plans/new">
          <p><i class="fas fa-archive"></i>料金案内履歴</p>
        </a>
      </li>
    </ul>
  </div>
</div>
