<div id="header_box">
  <div id="logo">
    <img src="/assets/twitter_header_photo_1.png" alt="">
  </div>
  <div id="header_nav">
    <ul id="nav_list">
      <li id="nav_item"><a href=""></a><i class="fas fa-home"></i>
        <p>ホーム</p>
      </li>
      <li id="nav_item_dl">
        <a href=""></a>
        <i class="fas fa-couch"></i>
        <p>料金表</p>
      </li>
      <li id="nav_item">
        <a href="page/food&drink.html"></a><i class="fas fa-utensils"></i>
        <p>フード＆ドリンク</p>
      </li>
      <li id="nav_item">
        <a href=""></a><i class="fas fa-ticket-alt"></i>
        <p>キャンペーン</p>
      </li>
    </ul>
  </div>
</div>
