<div class="bg-app_bg" id="side_menu_wrapper">
  <ul>
    <li class="mx-3 pt-6 pb-3 pl-3 border-b border-gray-300"><a href="/fee_guides/new/"><i class="fas fa-home text-app mr-2 text-lg"></i>HOME</a></li>
    <li class="mx-3 py-3 pl-3 border-b border-gray-300">
      <i class="fas fa-couch text-app mr-2"></i>ルーム料金<i class="fas fa-chevron-down ml-2"></i>
      <ul>
        <li class="text-xs pt-4 pb-2"><a href="/main_plans/"><i class="fas fa-list-alt text-app mr-1 ml-1"></i>ルーム料金一覧</a></li>
        <li class="text-xs py-2"><a href="/main_plans/new"><i class="fas fa-folder-plus text-app mr-1 ml-1"></i>ルーム料金登録</a></li>
      </ul>
    </li>
    <li class="mx-3 py-3 pl-3 border-b border-gray-300">
      <i class="fas fa-coffee text-app mr-1"></i>ドリンク料金<i class="fas fa-chevron-down ml-2"></i>
      <ul>
        <li class="text-xs pt-4 pb-2"><a href="/drink_plans/"><i class="fas fa-list-alt text-app mr-1 ml-1"></i>ドリンク料金一覧</a></li>
        <li class="text-xs py-2"><a href="/drink_plans/new"><i class="fas fa-folder-plus text-app mr-1 ml-1"></i>ドリンク料金登録</a></li>
      </ul>
    </li>
    <li class="mx-3 py-3 pl-3 border-b border-gray-300">
      <i class="fas fa-info-circle text-app mr-2 text-lg"></i>TOPICS<i class="fas fa-chevron-down ml-2"></i>
      <ul>
        <li class="text-xs pt-4 pb-2"><a href="/topics/"><i class="fas fa-list-alt text-app mr-1 ml-1"></i>TOPICS一覧</a></li>
        <li class="text-xs py-2"><a href="/topics/new"><i class="fas fa-folder-plus text-app mr-1 ml-1"></i>TOPICS投稿</a></li>
      </ul>
    </li>
    <li class="mx-3 py-4 pl-3 border-b border-gray-300"><a href="/fee_guides/new/"><i class="fas fa-bullhorn text-app mr-2"></i>案内履歴</a></li>
  </ul>
</div>